<template name="orderLists">
{{> menusList}}

<h2>Orders</h2>
<table class='table table-bordered'>
<thead>
<tr>
<th>Name</th>
<th>Unit Price</th>
<th>Quantity</th>
<th>Subtotal</th>
<th>Status</th>
<th width='15%' colspan='2'></th>
</tr>
</thead>
<tbody>
{{#each orders}}

<tr class='{{orderStatusClass}}'>
<td>{{menuItem.name}}</td>
<td>{{menuItem.price}}</td>
<td>{{quantity}}</td>
<td>{{subtotal}}</td>
<td>{{status}}</td>
{{#if editable}}
<td><a href="{{pathFor 'orderEdit'}}" class="btn btn-warning">Edit</a></td>
<td><a href="#" class="btn btn-danger delete">Cancel</a></td>
{{/if}}
</tr>

{{/each}}
</tbody>
</table>
</template>