<template name="dashboardOrders">
<h2>Orders</h2>

{{#each orders}}
	<table class="table">
	<thead>
		<th>Name</th>
		<th width="10%"></th>
		<th width="10%"></th>
		<th width="10%"></th>
	</thead>
	<tbody>
		<tr>
		<td>{{menuName this.menuId}}</td>
		<td><a href="#" id="cook" class="btn btn-primary {{disable this._id 'cook'}}">Cook</a></td>
		<td><a href="#" id="reject" class="btn btn-danger {{disable this._id 'reject'}}">Reject</a></td>
		<td><a href="#" id="serve" class="btn btn-success {{disable this._id 'serve'}}">Serve</a></td>
		</tr>
	</tbody>
	</table>
{{/each}}
</template>